@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .custom-btn {
    @apply py-2 px-4 border rounded-md bg-darkBg text-white font-extrabold text-center flex items-center justify-center w-full transition-all duration-300 ease-linear hover:bg-darkBgLight disabled:hover:bg-gray-400 hover:scale-[98%] disabled:hover:scale-100;
  }
  .custom-input {
    @apply h-12 shadow appearance-none border-[#e6e6e6] rounded w-full text-gray-700 mb-2 leading-tight focus:outline-none pl-2 mt-1;
  }
  .custom-label {
    @apply text-gray-700 dark:text-white text-sm font-bold mb-2 ml-1 block text-left;
  }
}
