@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "Poppins", sans-serif;
  --white-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-base);
}

@keyframes customSlideup {
  from {
    transform: rotate3d(0, 0, 1, 10deg) skew(10deg, 10deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.customSlideUp {
  animation-name: customSlideup;
  animation-duration: 1000ms;
  transition-duration: .6ms;
  animation-iteration-count: 1;
  transform-origin: left bottom;
}

.fadeBtn {
  transition: all .5s ease-in-out;
  background: linear-gradient(to right, black 50%, transparent 0);
  background-size: 200% 100%;
  background-position: right;
}

@layer components {
  .customBtn{
    @apply block transition-all duration-500 ease-in-out bg-gradient-to-r from-black/50 to-transparent/0 bg-right bg-btnSize hover:animate-makeItfadeIn hover:text-white p-2;
  }
  .contact-group{
    @apply col-span-12 lg:col-span-4 h-24 flex items-center justify-center flex-col border border-gray-200 gap-2;
  }
  .prj-group{
    @apply h-64 w-64 flex items-center justify-center flex-col border border-gray-200;
  }
  .contact-input{
    @apply border border-gray-200 p-2 focus:outline-none dark:bg-black dark:placeholder:text-white;
  }
}


